<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>


<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
           
           
            <div class="brand">My Forum</div>
        </div>
        <!--SearchBox Section-->
        <div class="search-box">
            <div>
                <select name="" id="">
                    <option value="Descriptions">Descriptions</option> 
                </select>
                <input type="text" name="q" placeholder="search ...">
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Latest questions</h1>
            </div>
            <div class="subforum-row" *ngFor="let q of question">
                <div class="subforum-icon subforum-column center">
                    <i >{{ q.id}}</i>
                </div>
                <div class="subforum-description subforum-column" >
                    <h4><a href="#">Description Title</a></h4>
                    <h5>{{ q.description }}</h5>
                </div>
            
                <div class="subforum-info subforum-column">
                    <b><a href="">Last post</a></b> 
                    <br>on <small>{{ q.createdDate}}</small>
                </div>
                <button class="button"><a href="src\app\FrontOffice\forum\forum\addres.html">Add answer</a></button>
            </div>
        </div> 

       <button class="button" ><a href="src\app\FrontOffice\forum\forum\addquest.html">Add question</a></button>
    </div> 
</body>
</html>

<app-footer></app-footer>