<div class="container custom">
  <form #PWDform="ngForm" (submit)="sendAResetPwdLink(PWDform)" #f="ngForm">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" name="email" #E="ngModel"
             ngModel pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" placeholder="Enter email" required>
      <small class="form-text text-muted">We'll send you a verification link to reset your password.</small>
    </div>
    <div class="alert-danger alert" *ngIf="E.invalid && E.touched">
      <div *ngIf="E.errors?.['required']">the email is required</div>
      <div *ngIf="E.errors?.['pattern']">Not a valid email address</div>
    </div>
    <button type="submit" class="btn">Send verification email</button>
  </form>
</div>
