<app-header>

</app-header>


<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row d-flex no-gutters">
        <div class="col-md-5 d-flex">
          <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image: url('http://localhost/img/{{event.image}}.jpg');border-radius: 30px;height:100vh;">
          </div>
        </div>
        <div class="col-md-7 pl-md-5 py-md-5 d-flex flex-column justify-content-center align-items-center">
          <div class="heading-section pt-md-5 text-center">
            <h2 class="mb-4">{{event.titre}}</h2>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-6 services-2 w-100">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-stethoscope"></span></div>
              <div class="text pl-3 text-center">
                <h4>from: {{event.dateDebut}}</h4>
                <p> To: {{event.dateFin}}</p>
              </div>
            </div>
            <div class="col-md-6 services-2 w-100">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-customer-service"></span></div>
              <div class="text pl-3 text-center">
                <h4 style="margin-top: 20px;">{{event.location}}</h4>
              </div>
            </div>
            <div class="col-md-4 services-2 w-100">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-emergency-call"></span></div>
              <div class="text pl-3 text-center">
                <h4>Description</h4>
                <p  style="margin-top: 20px;">{{event.description}}</p>
              </div>
            </div>
            <div class="col-md-8 services-2 w-100">
              <div class="row justify-content-center mt-3">
                <div class="col-3">
                  
                </div>
                <div class="col-3">
                  
                </div>
                <div class="col-3">
                  <button class="btn btn-primary w-100" type="button" (click)="addInteressted()">
                    <i class="fa fa-star me-2"></i> 
                  </button>
                </div>
              </div>
            </div>
         
              
             </div>
             </div>
             </div>
             </div>
  


<app-footer>

</app-footer>
