



<!--<div class="card my-5" style="background-color: whitesmoke">-->
<!--  <div class="card-body">-->
<!--    <table class="table table-bordered table-striped">-->
<!--      <thead class="thead-dark">-->
<!--      <tr>-->
<!--        <th scope="col">#</th>-->
<!--        <th scope="col">Name</th>-->
<!--        <th scope="col">Email</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let user of users">-->
<!--        <td>{{ user.idUser }}</td>-->
<!--        <td>{{ user.username }}</td>-->
<!--        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
<app-navbar></app-navbar>

<br>
<br>
<div class="container">
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Full Name</th>
    <th scope="col">Email</th>
    <th scope="col">Username</th>
    <th scope="col">Occupation</th>
    <th scope="col">BirhtDate</th>
    <th scope="col">address</th>
<!--    <th scope="col">Inscription Date</th>-->
    <th scope="col">Is Active</th>
    <th scope="col"> number of signals </th>
    <th scope="col"> Action </th>
<!--    <th scope="col"> role </th>-->

    <!--    <th scope="col"> Role </th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users" class="trclass">
    <td>{{user.firstName}} </td>
    <td>{{user.email}}</td>
    <td> {{ user.username}}</td>
    <td> {{ user.occupation}}</td>
    <td> {{ user.birthDate}}</td>
    <td> {{ user.address}}</td>

    <td>{{user.active}}</td>
    <td>{{user.numberOfSignal}}</td>
<!--    <td>{{user.role}}</td>-->
    <td>
      <button class="bt btn-danger"   let x="user.idUser" (click)="deleteUserS(user.idUser)" > Delete </button>&nbsp;
      <button class="bt btn-warning" (click)="blockUser(user.idUser)" > Block </button>
    </td>
<!--    <td>-->
<!--      <div *ngFor="let role of getUserRoles(user.idUser)">-->
<!--        <span>{{role.roleName}}</span>-->
<!--      </div>-->
<!--  </tr>-->
  </tbody>
</table>



  <footer class="panel-footer">
    &nbsp;

    <nav aria-label="Page navigation example">
      Total users 12 : Page 1 of 15]

      <ul class="pagination">
        <li class="page-item">
          &nbsp;    <a ><i class="fa fa-step-backward"></i></a>
          <span><i class="fa fa-step-backward"></i></span>
        </li>

        <li class="page-item">
          &nbsp;    <a ><i class="fa fa-backward"></i> </a>
          <span><i class="fa fa-backward"></i>   </span>
        </li>

        <li class="page-item">



          &nbsp;     <span >
        <a ></a>
        <span></span>
</span>
        </li>

        <li class="page-item">
          &nbsp; <a > <i class="fa fa-forward"></i></a>
          <span> <i class="fa fa-forward"></i></span>
        </li>

        <li class="page-item">
          &nbsp;   <a ><i class="fa fa-step-forward"></i></a>
          <span ><i class="fa fa-step-forward"></i></span>
        </li>
      </ul>
    </nav>

  </footer>

</div>
<!--<app-navbar></app-navbar>-->


<!--<app-footer-back-end></app-footer-back-end>-->
