
<app-navbar></app-navbar>

<br>
<br>
<div class="container">


  <table class="table">
  <thead class="thead-dark">

  <tr>

    <th scope="col">Full Name</th>
    <th scope="col">Email</th>
    <th scope="col">Username</th>
    <th scope="col">Occupation</th>
    <th scope="col">BirhtDate</th>
    <th scope="col">address</th>
<!--    <th scope="col">Inscription Date</th>-->
    <th scope="col">Is Active</th>
    <th scope="col"> number of signals </th>
    <th scope="col"> Block </th>
<!--    <th scope="col"> role </th>-->

    <!--    <th scope="col"> Role </th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | paginate: { itemsPerPage: itempages, currentPage: p }"
      class="trclass"
      (click)="selectUser(user)">    <td>{{user.firstName}} </td>
    <td>{{user.email}}</td>
    <td> {{ user.username}}</td>
    <td> {{ user.occupation}}</td>
    <td> {{ user.birthDate}}</td>
    <td> {{ user.address}}</td>

    <td>{{user.active}}</td>
    <td>{{user.numberOfSignal}}</td>
<!--    <td>{{user.role}}</td>-->
    <td>
<!--      <button class="bt btn-danger"   let x="user.idUser" (click)="deleteUserS(user.idUser)" > Delete </button>&nbsp;-->
      <button class="bt btn-warning" (click)="blockUser(user.idUser)" > Block </button>
    </td>
<!--    <td>-->
<!--      <div *ngFor="let role of getUserRoles(user.idUser)">-->
<!--        <span>{{role.roleName}}</span>-->
<!--      </div>-->
<!--  </tr>-->
  </tbody>
</table>



  <footer class="panel-footer">
    &nbsp; <button style="margin-left: 1500px"   class="btn btn-danger " (click)="deleteSelectedUser()" [disabled]="!selectedUser">
    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
  </button>

    <div>    <pagination-controls (pageChange)="p = $event">



    </pagination-controls>



    </div>


  </footer>

</div>

<!--<button class="btn btn-danger"-->
<!--        (click)="deleteSelectedUser()"-->
<!--        [disabled]="!selectedUser">-->
<!--  Delete Selected User-->
<!--</button>-->
<!--<app-navbar></app-navbar>-->


<!--<app-footer-back-end></app-footer-back-end>-->
