<app-navbar></app-navbar>

<div class="row tm-mt-big">
    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
        <div class="bg-white tm-block">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Update Animal</h2>
                </div>
            </div>
            <div class="row mt-4 tm-edit-product-row">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <form #form="ngForm" (ngSubmit)="Sumbit(form)" id="contactForm" class="contactForm">
                        <div class="input-group mb-3">
                            <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Name Animal
                                
                            </label>
                            <input type="text" class="form-control" name="nameAnimal" id="nameAnimal" placeholder="Name" [(ngModel)]="name">
                        </div>
                       
                        <div class="input-group mb-3">
                            <label for="race" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Race</label>
                            <input type="text" class="form-control" name="race" id="race" placeholder="race" [(ngModel)]="race">
                        </div>
                     
                      
                        <div class="input-group mb-3">
                          <label for="category" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Gender</label>
                        
                                <select name="gender" id="" class="form-control" [(ngModel)]="gender">
                                  <option >male</option>
                                  <option >femelle</option>
                                </select>  <br>             
                          
                          </div>
                    
  
                        <div class="input-group mb-3">
                          <label for="stock" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Birth Date
                              
                          </label>
                          <input type="date" class="form-control" name="birthDate" id="email" placeholder="Email" [(ngModel)]="birthDate">
                        </div>
   <div class="input-group mb-3">
                            <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Description</label>
                            <textarea name="description" class="form-control" id="message" cols="30" [(ngModel)]="description" rows="4" placeholder="description"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                <button type="submit" class="btn btn-primary">Update
                                </button>
                            </div>

                        </div>
                       
                    </form>
                </div>
              
            </div>
        </div>
    </div>
  </div>

  <app-footer-back-end></app-footer-back-end>
