
<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>


<div class="container mt-3" >



  <h4 class="text-center bg-light ">Registration Forum</h4>
  <form class="mb-3" style="width: 800px"    #f="ngForm"   (submit)="doSignup()"  style="border: 1px solid blue; padding: 30px;" >

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input type="text" class="form-control" id="inputEmail4" name="firstName" [(ngModel)]="firstName"  required #firstname ="ngModel" placeholder="First Name">
        <div class="alert-danger alert"  *ngIf="firstname.invalid && firstname.touched">
          <div *ngIf="firstname.errors?.['required']" >the field  is requerd</div>

        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4"> Last Name</label>
        <input type="text" class="form-control" id="inputPassword4"  name="lastName" required #lastname="ngModel"  [(ngModel)]="lastName" placeholder="Last Name">
        <div class="alert-danger alert"  *ngIf="lastname.invalid && lastname.touched">
          <div *ngIf="lastname.errors?.['required']" >the field  is requerd</div>

        </div>
      </div>
    </div>





    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control " name="username" id="username"  required #userN="ngModel" [(ngModel)]="username" required  minlength="6">

      <div class="alert-danger alert"  *ngIf="userN.invalid && userN.touched">
        <div *ngIf="userN.errors?.['required']" >the field  is requerd</div>
        <div *ngIf="userN.errors?.['minlength']" >username must be greater than 6 characters</div>
      </div>

    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control " id="email" name="email"  [(ngModel)]="email"   required #l="ngModel"
             ngModel pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
      <div class="alert-danger alert"  *ngIf="l.invalid && l.touched">
        <div *ngIf="l.errors?.['required']" >the email is requerd</div>
        <div *ngIf="l.errors?.['pattern']" >Not a valide Email adresse </div>
      </div>
    </div>



    <div class="form-group">
      <label for="dateBirth">Date of birth</label>
      <input type="date"  name="date" class="form-control is-valid" id="dateBirth"  [(ngModel)]="birthDate" required #d="ngModel" ngModel >
      <div class="alert-danger alert"  *ngIf="d.invalid && d.touched">
        <div *ngIf="d.errors?.['required']" >the date field  is requerd</div>
      </div>
    </div>


    <div class="form-group">
      <label for="job">Occupation</label>
      <input type="text" class="form-control "   name="occupation"    [(ngModel)]="occupation" id="job" required>
      <div class="alert-danger alert"  *ngIf="lastname.invalid && lastname.touched">
        <div *ngIf="lastname.errors?.['required']" >the field  is requerd</div>

      </div>
    </div>


    <div class="form-row">
            <div class="form-group col-md-6">
              <label for="pwd">Pasword</label>
              <input type="password" class="form-control" id="pwd"   [(ngModel)]="password"  placeholder="Enter password"
                     #pwd="ngModel" ngModel required minlength="6" name="password"
              >
              <div class="alert-danger alert"  *ngIf="pwd.invalid && pwd.touched">
                <div *ngIf="pwd.errors?.['required']" >the password field  is requerd</div>
                <div *ngIf="pwd.errors?.['minlength']" >the password  must be greater than 6 characters pwd </div>

              </div>
            </div>
                  <div class="form-group col-md-6">
                    <label for="confirm-password"> Retype password </label>
                    <input type="password" class="form-control"   [(ngModel)]="retypePassword" id="confirm-password" placeholder="Retype password" name="retypePWD"
                    ngModel  #RetypePWD="ngModel" required>
                    <div class="alert-danger alert"  *ngIf="RetypePWD.invalid && RetypePWD.touched">
                      <div *ngIf="RetypePWD.errors?.['required']" >the Retype  password field  is requerd</div>
                      <div *ngIf="pwd.value != RetypePWD.value">Password doesn't match.</div>

                       </div>

      <!--          <div *ngIf="pwd.valid && RetypePWD.valid && pwd.value != RetypePWD.value">Passwords do not match.</div>-->
            </div>
    </div>
    <!--    </div>-->
    <br>
    <!--    <div class="form-group">-->
    <!--      <div class="form-check">-->
    <!--        <input class="form-check-input is-invalid" type="checkbox" id="terms" required>-->
    <!--        <label class="form-check-label" for="terms">-->
    <!--          Agree to terms.-->
    <!--        </label>-->
    <!--        <div class="invalid-feedback">-->
    <!--          You must agree terms to continue.-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">  I agree all statements in <a href="#!">Terms of service</a></label>
    </div>
    <br>
    <div class="text-center">
      <button class="btn " type="submit" [disabled]="f.invalid">Send</button>
    </div>
  </form>


</div>


</body>
</html>



<!--<div id="signup-box">-->
<!--  <h2>Signup Here</h2>-->
<!--  <div style="color : red" *ngIf='error'>{{error}}</div>-->
<!--  <div style="color : green" *ngIf='success'>{{success}}</div>-->
<!--  <form name='signupForm' (submit)="doSignup()">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td>Username:</td>-->
<!--        <td><input type='text' name='username' [(ngModel)]="username"></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>email:</td>-->
<!--        <td><input type='email' name='email' [(ngModel)]="email"></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Password:</td>-->
<!--        <td><input type='password' name='password' [(ngModel)]="password"/></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--&lt;!&ndash;        <td>Roles:</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>&ndash;&gt;-->
<!--&lt;!&ndash;          <div *ngFor="let role of user_roles">&ndash;&gt;-->
<!--&lt;!&ndash;            <input [(ngModel)]="role.selected" name="{{ role.name }}" type="checkbox" id="{{role.name}}" (change)="onChangeCategory($event, role)">&ndash;&gt;-->
<!--&lt;!&ndash;            <label class="form-check-label" for="{{role.name}}">&ndash;&gt;-->
<!--&lt;!&ndash;              {{role.name}}&ndash;&gt;-->
<!--&lt;!&ndash;            </label>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td><input name="submit" type="submit" value="Signup" /></td>-->
<!--        <td>Have account? <a href="/signin" routerLink="/signin">Signin</a></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </form>-->
<!--</div>-->
